* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   color:#444; 
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
}
.post {
   max-width: 1400px;
   margin:150px auto;
   display: grid;
   gap:10px 50px;
   grid-template-columns: 3fr 12fr 5fr;

}

.post > blockquote {
font-size: 60px;
font-style: italic;
text-align: center;
}

.post > * {
   grid-column: 2/-2;
}



h1, h2 {
   font-size: 80px;
   font-weight: 100;
   font-style: italic;
   margin: 0;
} 

h2:nth-of-type(1){
   color:white;
   animation: headerh2 4s 1 forwards 1s;


}

@keyframes headerh2 {
   from{
      color:rgb(232, 248, 6);
      transform: translateY(-30%);
   }
   to{
      color:black;
      transform: translateY(0%);
   }
}


p {
   line-height:1.8;
}

.tip {
   padding: 10px;
   grid-column: span 1/-1;
   text-align: left;
   border-left: 2px solid yellow;
}

a {
   color:black;
   text-decoration:underline wavy yellow;
}

.tip-right {
   background: #fafafa;
   grid-row: span 5;
   align-self: start;
}

.tip-left {
   grid-column: 1 /span 1;
   text-align: right;
   border-right: 2px solid yellow;
   border-left: none;
}


figcaption {
   font-size: 10px;
}

   img {
   outline: 2px solid black;
   transition: transform .8s ease-in-out;
   border-radius: 5px;
} 

img:hover {
   transform:scale(1.05);
}